<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>768260185048-muvaejafj2bocv9piruudj8cp8t9gsbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768260185048-muvaejafj2bocv9piruudj8cp8t9gsbk</string>
	<key>API_KEY</key>
	<string>AIzaSyDTURmEJUGapC1uNw7D0asbfzOMNrOiwm8</string>
	<key>GCM_SENDER_ID</key>
	<string>768260185048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandbaks.KeiserTony-Proof</string>
	<key>PROJECT_ID</key>
	<string>dead-zone-d4364</string>
	<key>STORAGE_BUCKET</key>
	<string>dead-zone-d4364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:768260185048:ios:dc01b4930b5d7585</string>
	<key>DATABASE_URL</key>
	<string>https://dead-zone-d4364.firebaseio.com</string>
</dict>
</plist>